.noti{
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: black;
}
.act{
    width: 10%;
}
.form-group .required:after {
    content: " (*)";
    color: red;
    font-weight: bold;
}
.img-ctr{
    height: 50px; 
    width: 100px
}
.img-vie{
    margin-top:10px;
    height: 100px; 
    width: 200px
}
.ico{
    font-size: 22px;
    padding-right: 10px;
}
.btn-ico{
    border: none;
    background-color: transparent !important;
    padding:0
}
.pd-12{
    padding-left: 12px;
}
.contact__switcher{
    position: fixed;
    right: 0;
    top: 26%;
    width: 50px;
    z-index: 10;
    background-color: #fff;
    padding: 1rem;
    box-shadow: -0.5px 0.5px 4px var(hsla(0, 0%, 15%, .1));
    border-radius: .5rem 0 0 .5rem;
}
.theme__contact{
    display: inline-flex;
    text-align: center;
    font-size: 1.5rem;
    background-color: #fff;
}
.theme__contact.a{
    text-align: center;
}